@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Caprasimo&family=Dancing+Script:wght@600;700&family=EB+Garamond:wght@600&family=Lemon&family=Lobster&family=Mukta:wght@300&family=Oswald:wght@300&family=Raleway:wght@100&family=Salsa&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Caprasimo&family=Dancing+Script:wght@600;700&family=EB+Garamond:wght@600&family=Lemon&family=Mukta:wght@300&family=Oswald:wght@300&family=Raleway:wght@100&family=Salsa&family=Shadows+Into+Light&display=swap');
a{
    text-decoration: none;
}
.product-card {
   
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* This will hide any content that overflows the card */
    height: 400px; /* Set a fixed height for all product cards */
}

.product-image {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 250px; /* Set a specific height for the image */
    object-fit: cover; /* Ensure the image is contained within the specified height */
}

.product-details {
    padding: 16px;
}

.product-title {
    margin: 0;
    font-size: 18px;
    text-decoration: none;
    /* font-weight: bold; */
}


.price{
    position: absolute;
    top: 5px;
    left: 15px;
    padding: 2px 10px 2px 10px;
    font-size: 1.5rem;
    color:black;
    font-weight: bolder;
    background-color: white;
    border-radius: .5rem;
}

.option-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.appointment-heading{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin: 50px 0px 50px 0px;
}

.package-price{
    background-color: #22419c;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    padding: 12px 0px;
  }

  .pack-img{
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
.pack-lists li{
    color: #363636;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 5px;
  }

  .contact{
    margin-top: 100px;
  }
  
  .contact-i{
    width: 80px;
    height: 80px;
    background: #22419c;
    display: inline-block;
    line-height: 85px;
    border-radius: 50%;
    margin-bottom: 15px;
    transition-duration: 0.3s;
  }
  
  .contact-i i{
    color: #fff;
    font-size: 34px;
  }
  
  .contact-card{
    width: 100%;
    text-align: center;
    padding: 25px 10px;
    min-height: 300px;
    border: 1px solid #e4e8f3;
    border-bottom: 2px solid #22419c;
    transition: background-color 0.3s, border-bottom 0.3s;
  }
  
  .contact-card:hover{
    border-bottom: 2px solid #85ba32;
  }
  
  .contact-i:hover{
    background-color: #85ba32;
  }
  /* Add this to your existing CSS or in a new style block */
  
  .contact-card {
    position: relative;
    transition: background-color 0.3s, border-bottom 0.3s;
  }
  
  .contact-card:hover {
    border-bottom: 2px solid #85ba32;
  
  }
  
  .contact-card:hover .contact-i {
    background-color: #85ba32;
  
  }

  .contact-card p a, .contact-card p{
    color: #353535;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .table thead tr th{
    position: sticky;
    top: 0;
    background: #22419c;
  color: white;
  }
 
.hoverable tr{
  color: black;
  border: 1px solid white;
  background-color: lightgreen;

}

.hoverable tbody{
  border: 1px solid white;

}

.table, .table th, .table td{
  border: 1px solid white;

}



.hoverable tr:hover{
  background: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);;
  color: black;
}
.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination {
  display: inline-block;
  margin-bottom: 0;
}

.pagination .page-item {
  display: inline;
}

.pagination .page-link {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #007bff;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination .page-link:hover {
  z-index: 2;
  color: #0056b3;
  background-color: #e9ecef;
  border-color: #ddd;
}

.pagination .page-link:focus {
  z-index: 2;
  outline: none;
}

.pagination .page-link:focus {
  outline: none;
  box-shadow: none;
}

.pagination .page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination .page-item:last-child .page-link {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: default;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #ddd;
}

.scrollable-table {
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
}
/* Works on Firefox */
.scrollable-table{
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) white;
}

.table-section{
  margin-top: 50px;
  margin-bottom: 50px;
}

.table-section h4{
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  margin-bottom: 50px;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Number of lines to display */
  -webkit-line-clamp: 1; /* Adjust the number of lines as needed */
}

/* Gallery Page */


.gallery{
  z-index: -1;
 }
 
 .gallery img{
   width: 300px;
   height: 300px;
   margin: 10px;
 }
 


/* Works on Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
  width: 12px;
} */


.hoverable{
  border: 1px solid white;
}



  
  .navbar{
    background-color: #85ba32;
  }
  
  .small-logo{
    display: none;
  }

  .wordss {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px; /* Adjust width as needed */
  }
  
  .contact-info {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px; /* Adjust spacing between items */
}

.label {
    display: inline-block;
    width: 100px; /* Adjust label width as needed */
    text-align: right;
    margin-right: 10px; /* Adjust spacing between label and data */
}

.data {
    display: inline-block;
}
.message {
  white-space: pre-wrap;
}

.table-2{
  display: none;
}

.detail-title{
  font-family: 'Oswald', sans-serif;
  font-size:50px;
}

  @media only screen and (max-width:992px){
    .small-logo{
      display: block;
    }

    .navbar{
      background-color: white;
    }

    .nav-link i, .navbar-profile-name{
      color: black;
    }

  }

  @media only screen and (max-width:768px){
  .content-wrapper-enquiry{
    padding: 0;
    margin: 0;
  }
.table-1{
  display: none;
}

.table-2{
  display: block;
}

  }