<!doctype html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <title>Bootstrap demo</title> -->
  <title>Privacy - GMRL</title>
  <link rel="icon" type="image/jpg" href="{% static 'img/gmrl-logo.svg.jpg' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@11/-bundle.min.css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>


  <!-- introduction start -->
  <section class="introduction-section introduction-section-inner">


    <div class="row">


      <!-- introduction row col-1 start -->
      <div class="col-lg-6 col-md-12">

        <div class="container intro-caption intro-caption-inner">

          <h1 class="intro-heading">
            Privacy Policy
          </h1>
        </div>


      </div>
      <!-- introduction row col-1 end -->

      <!-- introduction row col-2 start -->
      <div class="col-lg-6 col-md-12 intro-img-sec">
        <img src="{% static 'img/placeholder.jpg' %}" alt="" style="z-index: 1050;opacity: 1;" class="intro-inner-img">
      </div>
      <!-- introduction row col-2 end -->

    </div>
  </section>

    <header>
      {% include 'header.html' %}
    </header>


<section class="privacy-section container-lg">
<div class="container-lg">
<h2 class="mt-4">Who we are</h2>
<p class="privacy-p"><b>Suggested text:</b> Our website address is: http://localhost/gmrl.</p>

<h2 class="mt-4">Comments</h2>
<p class="privacy-p"><b>Suggested text:</b> When visitors leave comments on the site we collect the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection.</p>
<p class="mt-4">An anonymized string created from your email address (also called a hash) may be provided to the Gravatar service to see if you are using it. The Gravatar service privacy policy is available here: https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to the public in the context of your comment.</p>

<h2 class="mt-4">Media</h2>
<p class="privacy-p"><b>Suggested text:</b>If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.</p>

<h2 class="mt-4">Cookies</h2>
<p class="privacy-p"><b>Suggested text:</b>If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.</p>
<p class="mt-4">If you visit our login page, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.</p>
<p class="mt-4">When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select "Remember Me", your login will persist for two weeks. If you log out of your account, the login cookies will be removed.</p>
<p class="mt-4">If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.</p>

<h2 class="mt-4">Embedded content from other websites</h2>
<p class="privacy-p"><b>Suggested text:</b>Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.</p>
<p class="mt-4">These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.</p>

<h2 class="mt-4">Who we share your data with</h2>
<p class="privacy-p"><b>Suggested text:</b>If you request a password reset, your IP address will be included in the reset email.</p>

<h2 class="mt-4">How long we retain your data</h2>
<p class="privacy-p"><b>Suggested text:</b> If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue.</p>
<p class="mt-4">For users that register on our website (if any), we also store the personal information they provide in their user profile. All users can see, edit, or delete their personal information at any time (except they cannot change their username). Website administrators can also see and edit that information.</p>

<h2 class="mt-4">What rights you have over your data</h2>
<p class="privacy-p"><b>Suggested text:</b>If you have an account on this site, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.</p>

<h2 class="mt-4">Where your data is sent</h2>
<p class="privacy-p"><b>Suggested text:</b>Visitor comments may be checked through an automated spam detection service.</p>



</div>
</section>
















  <footer>
    {% include 'footer.html' %}
  </footer>
  <a href="https://www.whatsapp.com/"><i class="fa fa-whatsapp whatsapp-icon"></i></a>
  <script src="https://cdn.jsdelivr.net/npm/@11/-bundle.min.js"></script>


  <script src="{% static 'js/script.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/@11/-bundle.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>